# required - path to output folder
outputDirectory = "./output"

# optional (default false) - setting this to true deletes the output directory before every run
cleanOutputDirectory = true

# optional (default true) - if we should replace android strings when placeholder counts do not match between platforms
blockReplacementOnPlaceholderCountMismatch = false

# optional (default true) - if we should use the main android strings file as the base of all translations.
# when this option is set to false it will use each corresponding language localization file as the base
# we default this to true so that comments and changes to the main file can propagate to all other languages
useMainAndroidFileAsBaseTemplate = false

#optional (default false) - replace android source files with synchronized versions
replaceAndroidSourceFile = true

# required - The main localization (usually English) that will be synchronized from ios to android
main {
    language = "en"
    androidFile =  "values/strings.xml"
    iosFile = "Base.lproj/Localizable.strings"
}

# optional (default empty list) - List of other localizations to synchronize
localizations = [
    {
        language = "fr"
        androidFile = "values-fr/strings.xml"
        iosFile = "fr.lproj/Localizable.strings"
    },
    {
        language = "fr-CA"
        androidFile = "values-fr-rCA/strings.xml"
        iosFile = "fr-CA.lproj/Localizable.strings"
    }
]

#optional (default emptylist) - this will replace all instances of target with the corresponding replacement value when generating the output android strings file
textReplacements = [
    {
        # In this case all instances of "%s" will be replaced with "%@"
        target = "%s"
        replacementValue = "%@"
    },
    {
        target = "$s",
        replacementValue= "$@"
    }
]