#required
outputDirectory = "./output"

#whether we should overwrite strings when placeholder counts do not match between platforms - optional
blockPlaceholderMismatch = false

# The main localization file (usually English) - required
main {
    language = "en"
    androidFile =  "values/strings.xml"
    iosFile = "Base.lproj/Localizable.strings"
}

# List of localizations (optional)
localizations = [
    {
        language = "fr"
        androidFile = "values-fr/strings.xml"
        iosFile = "fr.lproj/Localizable.strings"
    },
    {
        language = "fr-CA"
        androidFile = "values-fr-rCA/strings.xml"
        iosFile = "fr-CA.lproj/Localizable.strings"
    }
]